flow.json
[
    {
        "id": "10e38d15.571223",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e71042cc.1c88",
        "type": "mqtt in",
        "z": "10e38d15.571223",
        "name": "Room1 Weather",
        "topic": "r1/weather",
        "qos": "0",
        "broker": "76d2bac1.91bed4",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "5545e1a1.16279"
            ]
        ]
    },
    {
        "id": "5545e1a1.16279",
        "type": "json",
        "z": "10e38d15.571223",
        "name": "Format Weather",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 320,
        "y": 140,
        "wires": [
            [
                "8251d3aa.c3905",
                "ad990cf5.98919",
                "ab5a7176.0f608"
            ]
        ]
    },
    {
        "id": "8251d3aa.c3905",
        "type": "ui_gauge",
        "z": "10e38d15.571223",
        "name": "Temperature",
        "group": "21db450c.66332a",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "C",
        "format": "{{msg.payload.temperature}}",
        "min": "10",
        "max": "30",
        "colors": [
            "#005aff",
            "#57ee7a",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 590,
        "y": 140,
        "wires": []
    },
    {
        "id": "ad990cf5.98919",
        "type": "ui_gauge",
        "z": "10e38d15.571223",
        "name": "",
        "group": "48330498.8d0d8c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{msg.payload.humidity}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 580,
        "y": 180,
        "wires": []
    },
    {
        "id": "a45396f4.8ae518",
        "type": "mqtt in",
        "z": "10e38d15.571223",
        "name": "TV Button",
        "topic": "r1/sony/button",
        "qos": "0",
        "broker": "afdfbe80.4e29f",
        "x": 80,
        "y": 380,
        "wires": [
            [
                "fe28ee52.1c398"
            ]
        ]
    },
    {
        "id": "d55cbad.06cb448",
        "type": "mqtt out",
        "z": "10e38d15.571223",
        "name": "TV Code",
        "topic": "r1/sony/code",
        "qos": "0",
        "retain": "",
        "broker": "afdfbe80.4e29f",
        "x": 620,
        "y": 720,
        "wires": []
    },
    {
        "id": "fe28ee52.1c398",
        "type": "function",
        "z": "10e38d15.571223",
        "name": "Parse Buttons",
        "func": "if (msg.payload === \"power\") {\n    msg.payload = '{\"code1\": \"a90\"}';\n} else if (msg.payload === \"vup\") {\n    msg.payload = '{\"code1\": \"490\"}';\n} else if (msg.payload === \"vdn\") {\n    msg.payload = '{\"code1\": \"C90\"}';\n} else if (msg.payload === \"cup\") {\n    msg.payload = '{\"code1\": \"90\"}';\n} else if (msg.payload === \"cdn\") {\n    msg.payload = '{\"code1\": \"890\"}';\n} else if (msg.payload === \"1\") {\n    msg.payload = '{\"code1\": \"10\"}';\n} else if (msg.payload === \"2\") {\n    msg.payload = '{\"code1\": \"810\"}';\n} else if (msg.payload === \"3\") {\n    msg.payload = '{\"code1\": \"410\"}';\n} else if (msg.payload === \"4\") {\n    msg.payload = '{\"code1\": \"C10\"}';\n} else if (msg.payload === \"5\") {\n    msg.payload = '{\"code1\": \"210\"}';\n} else if (msg.payload === \"6\") {\n    msg.payload = '{\"code1\": \"A10\"}';\n} else if (msg.payload === \"7\") {\n    msg.payload = '{\"code1\": \"610\"}';\n} else if (msg.payload === \"8\") {\n    msg.payload = '{\"code1\": \"E10\"}';\n} else if (msg.payload === \"9\") {\n    msg.payload = '{\"code1\": \"110\"}';\n} else if (msg.payload === \"0\") {\n    msg.payload = '{\"code1\": \"910\"}';\n} else if (msg.payload === \"mute\") {\n    msg.payload = '{\"code1\": \"290\"}';\n} else if (msg.payload === \"__\") {\n    msg.payload = '{\"code1\": \"b90\"}';\n} else {msg.payload = '{\"message\": \"Unknown Code\"}'}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 720,
        "wires": [
            [
                "d55cbad.06cb448"
            ]
        ]
    },
    {
        "id": "2a82217f.9ede4e",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Power",
        "group": "aefc6f04.70404",
        "order": 1,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "power_settings_new",
        "payload": "power",
        "payloadType": "str",
        "topic": "",
        "x": 70,
        "y": 440,
        "wires": [
            [
                "fe28ee52.1c398"
            ]
        ]
    },
    {
        "id": "473dc210.33981c",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Mute",
        "group": "aefc6f04.70404",
        "order": 3,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "volume_mute",
        "payload": "mute",
        "payloadType": "str",
        "topic": "/r1/tv/code",
        "x": 70,
        "y": 480,
        "wires": [
            [
                "fe28ee52.1c398"
            ]
        ]
    },
    {
        "id": "2d888be1.b68004",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Channel Up",
        "group": "aefc6f04.70404",
        "order": 4,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "keyboard_arrow_up",
        "payload": "cup",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 520,
        "wires": [
            [
                "fe28ee52.1c398"
            ]
        ]
    },
    {
        "id": "7ef7f2ea.ef794c",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Volume Up",
        "group": "aefc6f04.70404",
        "order": 6,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "volume_up",
        "payload": "vup",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 560,
        "wires": [
            [
                "fe28ee52.1c398"
            ]
        ]
    },
    {
        "id": "c03450dd.ad747",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Channel Down",
        "group": "aefc6f04.70404",
        "order": 7,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "keyboard_arrow_down",
        "payload": "cdn",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 600,
        "wires": [
            [
                "fe28ee52.1c398"
            ]
        ]
    },
    {
        "id": "9ff2804d.ae44c",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Volume Down",
        "group": "aefc6f04.70404",
        "order": 9,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "volume_down",
        "payload": "vdn",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 640,
        "wires": [
            [
                "fe28ee52.1c398"
            ]
        ]
    },
    {
        "id": "b2e18754.90d558",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "1",
        "group": "aefc6f04.70404",
        "order": 10,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "1",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "",
        "x": 70,
        "y": 680,
        "wires": [
            [
                "fe28ee52.1c398"
            ]
        ]
    },
    {
        "id": "b69f516f.fc497",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "2",
        "group": "aefc6f04.70404",
        "order": 11,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "2",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "",
        "x": 70,
        "y": 720,
        "wires": [
            [
                "fe28ee52.1c398"
            ]
        ]
    },
    {
        "id": "f842222a.ad5a3",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "3",
        "group": "aefc6f04.70404",
        "order": 12,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "3",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "3",
        "payloadType": "str",
        "topic": "",
        "x": 70,
        "y": 760,
        "wires": [
            [
                "fe28ee52.1c398"
            ]
        ]
    },
    {
        "id": "7959796d.c52a48",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "4",
        "group": "aefc6f04.70404",
        "order": 13,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "4",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "4",
        "payloadType": "str",
        "topic": "",
        "x": 70,
        "y": 800,
        "wires": [
            [
                "fe28ee52.1c398"
            ]
        ]
    },
    {
        "id": "6f756615.a24d58",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "5",
        "group": "aefc6f04.70404",
        "order": 14,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "5",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "5",
        "payloadType": "str",
        "topic": "",
        "x": 70,
        "y": 840,
        "wires": [
            [
                "fe28ee52.1c398"
            ]
        ]
    },
    {
        "id": "ec828e08.03e37",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "6",
        "group": "aefc6f04.70404",
        "order": 15,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "6",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "6",
        "payloadType": "str",
        "topic": "",
        "x": 70,
        "y": 880,
        "wires": [
            [
                "fe28ee52.1c398"
            ]
        ]
    },
    {
        "id": "e5a258e4.e21358",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "7",
        "group": "aefc6f04.70404",
        "order": 16,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "7",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "7",
        "payloadType": "str",
        "topic": "",
        "x": 70,
        "y": 920,
        "wires": [
            [
                "fe28ee52.1c398"
            ]
        ]
    },
    {
        "id": "ea724bea.462728",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "8",
        "group": "aefc6f04.70404",
        "order": 17,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "8",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "8",
        "payloadType": "str",
        "topic": "",
        "x": 70,
        "y": 960,
        "wires": [
            [
                "fe28ee52.1c398"
            ]
        ]
    },
    {
        "id": "e3956fbc.ec9d1",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "9",
        "group": "aefc6f04.70404",
        "order": 18,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "9",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "9",
        "payloadType": "str",
        "topic": "",
        "x": 70,
        "y": 1000,
        "wires": [
            [
                "fe28ee52.1c398"
            ]
        ]
    },
    {
        "id": "30a3ff.2ab1cc02",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "__",
        "group": "aefc6f04.70404",
        "order": 19,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "__",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "__",
        "payloadType": "str",
        "topic": "",
        "x": 70,
        "y": 1040,
        "wires": [
            [
                "fe28ee52.1c398"
            ]
        ]
    },
    {
        "id": "2abf3fd5.e4e2d",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "0",
        "group": "aefc6f04.70404",
        "order": 20,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "0",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 70,
        "y": 1080,
        "wires": [
            [
                "fe28ee52.1c398"
            ]
        ]
    },
    {
        "id": "b501eb14.55f7e8",
        "type": "mqtt in",
        "z": "10e38d15.571223",
        "name": "",
        "topic": "r1/remote",
        "qos": "0",
        "broker": "afdfbe80.4e29f",
        "x": 660,
        "y": 480,
        "wires": [
            [
                "1dfe52fa.a3ae9d"
            ]
        ]
    },
    {
        "id": "1d4d3ed4.f98fb1",
        "type": "function",
        "z": "10e38d15.571223",
        "name": "Format SQL Query",
        "func": "var tzoffset = (new Date()).getTimezoneOffset() * 60000; //offset in milliseconds\nvar localISOTime = (new Date(Date.now() + Math.abs(tzoffset))).toISOString();\nvar localISOTimeSliced = localISOTime.slice(0, -1);\nvar nonLocalTime=new Date(Date.now()).toISOString().slice(0, -1);\n\nvar mysqlTime = localISOTime.slice(0, 19).replace('T', ' ');\n\nvar m = {\n topic : \"INSERT INTO 'temperature_record' ('device_name','rec_num','temperature','humidity', 'date_time') VALUES ('esp32',NULL,'\" + msg.payload.temperature + \"', '\" + msg.payload.humidity + \"','\"+mysqlTime+\"');\"     \n };\nreturn m;",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 120,
        "wires": [
            [
                "38df533.1c05dac"
            ]
        ]
    },
    {
        "id": "8f0a9bad.5af4e8",
        "type": "ui_chart",
        "z": "10e38d15.571223",
        "name": "",
        "group": "f953612f.e5739",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-25",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#d20000",
            "#2900ea",
            "#15ff0f",
            "#ee8088",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1670,
        "y": 420,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f8270734.fe4b38",
        "type": "ui_date_picker",
        "z": "10e38d15.571223",
        "name": "",
        "label": "date",
        "group": "f953612f.e5739",
        "order": 1,
        "width": "10",
        "height": "1",
        "passthru": false,
        "topic": "",
        "x": 750,
        "y": 280,
        "wires": [
            [
                "528c4652.c7ab28"
            ]
        ]
    },
    {
        "id": "528c4652.c7ab28",
        "type": "function",
        "z": "10e38d15.571223",
        "name": "Format Date",
        "func": "var formatDate = function formatDate(date) {            // function for reusability\n        var d = date.getDate().toString(),           // getUTCDate() returns 1 - 31\n            m = (date.getMonth() + 1).toString(),    // getUTCMonth() returns 0 - 11\n            y = date.getFullYear().toString(),       // getUTCFullYear() returns a 4-digit year\n            formatted = '';\n        if (d.length === 1) {                           // pad to two digits if needed\n            d = '0' + d;\n        }\n        if (m.length === 1) {                           // pad to two digits if needed\n            m = '0' + m;\n        }\n        formatted = y + '-' + m + '-' + d;              // concatenate for output\n        return formatted;\n    },\n    x = msg.payload,                                  // sample time in ms since epoch\n    d = new Date(x),                                    // convert to date object\n    f = formatDate(d);\n    d.setDate(d.getDate() + 1);\n    var t = formatDate(d);\n    node.log(\"Date\", d);\n    var query = \"SELECT * from 'temperature_record' WHERE date_time>DATE('\"+f+\"', 'localtime') AND date_time < DATE('\"+t+\"', 'localtime');\"\n    flow.set('query', query);\nvar m = {\n topic:  query   \n };\nreturn m;",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 340,
        "wires": [
            [
                "6a865540.b0f4ac"
            ]
        ]
    },
    {
        "id": "9452e291.8cb3b",
        "type": "function",
        "z": "10e38d15.571223",
        "name": "Format Chart",
        "func": "var arr = [{\n    series: [\"Temperature\", \"Humidity\", \"Temperature Outside\", \"Humidity Outside\"],\n    labels: [\"Temperature\", \"Humidity\", \"Temperature Outside\", \"Humidity Outside\"],\n    data: [[], [], [], []]\n}];\n\nmsg.payload.forEach(function(row) {\n  var date = new Date(row.date_time);\n  arr[0].data[0].push({x: date.getTime(), y: row.temperature || ''});\n  arr[0].data[1].push({x: date.getTime(), y: row.humidity || ''});\n  row.temperature_outside || row.temperature_outside == 0 ? arr[0].data[2].push({x: date.getTime(), y: row.temperature_outside || ''}) : null;\n  row.humidity_outside ? arr[0].data[3].push({x: date.getTime(), y: row.humidity_outside || ''}) : null;\n});\nmsg.payload = arr;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1490,
        "y": 420,
        "wires": [
            [
                "8f0a9bad.5af4e8"
            ]
        ]
    },
    {
        "id": "ab5a7176.0f608",
        "type": "delay",
        "z": "10e38d15.571223",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "88",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 520,
        "y": 80,
        "wires": [
            [
                "1d4d3ed4.f98fb1",
                "2b5fe56b.82c33a"
            ]
        ]
    },
    {
        "id": "35f99242.9b28be",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "",
        "group": "f953612f.e5739",
        "order": 0,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "refresh",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 810,
        "y": 420,
        "wires": [
            [
                "2b5fe56b.82c33a"
            ]
        ]
    },
    {
        "id": "58b6234e.1e998c",
        "type": "ui_template",
        "z": "10e38d15.571223",
        "group": "aefc6f04.70404",
        "name": "",
        "order": 2,
        "width": "2",
        "height": "2",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 380,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "f92631b1.f0b91",
        "type": "ui_template",
        "z": "10e38d15.571223",
        "group": "aefc6f04.70404",
        "name": "",
        "order": 5,
        "width": "2",
        "height": "2",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 380,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "c250f792.2eb868",
        "type": "ui_template",
        "z": "10e38d15.571223",
        "group": "aefc6f04.70404",
        "name": "",
        "order": 8,
        "width": "2",
        "height": "2",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 380,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "fe00d658.7842a8",
        "type": "comment",
        "z": "10e38d15.571223",
        "name": "SONY TV",
        "info": "",
        "x": 80,
        "y": 340,
        "wires": []
    },
    {
        "id": "77756b73.beaf24",
        "type": "mqtt in",
        "z": "10e38d15.571223",
        "name": "AV Button",
        "topic": "r1/nec/button",
        "qos": "0",
        "broker": "afdfbe80.4e29f",
        "x": 380,
        "y": 920,
        "wires": [
            [
                "156d505.372a7b"
            ]
        ]
    },
    {
        "id": "156d505.372a7b",
        "type": "function",
        "z": "10e38d15.571223",
        "name": "Parse Buttons",
        "func": "if (msg.payload === \"power\") {\n    msg.payload = '{\"code1\": \"a55a38c7\"}';\n} else if (msg.payload === \"vup\") {\n    msg.payload = '{\"code1\": \"a55a50af\"}';\n} else if (msg.payload === \"vdn\") {\n    msg.payload = '{\"code1\": \"a55ad02f\"}';\n} else if (msg.payload === \"input\") {\n    msg.payload = '{\"code1\": \"a55aaa55\"}';\n} else {msg.payload = '{\"message\": \"Unknown Code\"}'}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 1020,
        "wires": [
            [
                "9f6239c4.5b7c78"
            ]
        ]
    },
    {
        "id": "9f6239c4.5b7c78",
        "type": "mqtt out",
        "z": "10e38d15.571223",
        "name": "AV Code",
        "topic": "r1/nec/code",
        "qos": "0",
        "retain": "",
        "broker": "afdfbe80.4e29f",
        "x": 900,
        "y": 1020,
        "wires": []
    },
    {
        "id": "2d00f8d3.cb46c8",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Power",
        "group": "ba00bb22.6364e8",
        "order": 1,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "power_settings_new",
        "payload": "power",
        "payloadType": "str",
        "topic": "",
        "x": 370,
        "y": 980,
        "wires": [
            [
                "156d505.372a7b"
            ]
        ]
    },
    {
        "id": "206ead15.497392",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Volume Up",
        "group": "ba00bb22.6364e8",
        "order": 3,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "volume_up",
        "payload": "vup",
        "payloadType": "str",
        "topic": "",
        "x": 390,
        "y": 1020,
        "wires": [
            [
                "156d505.372a7b"
            ]
        ]
    },
    {
        "id": "c4473b44.814258",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Volume Down",
        "group": "ba00bb22.6364e8",
        "order": 4,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "volume_down",
        "payload": "vdn",
        "payloadType": "str",
        "topic": "",
        "x": 400,
        "y": 1060,
        "wires": [
            [
                "156d505.372a7b"
            ]
        ]
    },
    {
        "id": "5f60db69.e2dbd4",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Input",
        "group": "ba00bb22.6364e8",
        "order": 2,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "input",
        "payload": "input",
        "payloadType": "str",
        "topic": "",
        "x": 370,
        "y": 1100,
        "wires": [
            [
                "156d505.372a7b"
            ]
        ]
    },
    {
        "id": "f1be86cc.0f7998",
        "type": "comment",
        "z": "10e38d15.571223",
        "name": "Pioneer AV",
        "info": "",
        "x": 380,
        "y": 880,
        "wires": []
    },
    {
        "id": "d731d766.c640b8",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "",
        "group": "8a21836f.059d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Fox Life",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"code1\": \"b90\",\"code2\": \"10\",\"code3\":\"e10\"}",
        "payloadType": "str",
        "topic": "",
        "x": 80,
        "y": 1140,
        "wires": [
            [
                "174d1d55.fd0313"
            ]
        ]
    },
    {
        "id": "174d1d55.fd0313",
        "type": "mqtt out",
        "z": "10e38d15.571223",
        "name": "TV Code",
        "topic": "r1/sony/code",
        "qos": "0",
        "retain": "",
        "broker": "afdfbe80.4e29f",
        "x": 280,
        "y": 1140,
        "wires": []
    },
    {
        "id": "2f2a6ddd.2abe52",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "",
        "group": "8a21836f.059d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Fox",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"code1\": \"b90\",\"code2\": \"810\",\"code3\":\"910\"}",
        "payloadType": "str",
        "topic": "",
        "x": 70,
        "y": 1180,
        "wires": [
            [
                "174d1d55.fd0313"
            ]
        ]
    },
    {
        "id": "9dd6dde.d000c2",
        "type": "mqtt in",
        "z": "10e38d15.571223",
        "name": "LED Strip Button",
        "topic": "r1/nec/button",
        "qos": "0",
        "broker": "afdfbe80.4e29f",
        "x": 400,
        "y": 1220,
        "wires": [
            [
                "5ea6c907.9dd2d8"
            ]
        ]
    },
    {
        "id": "5ea6c907.9dd2d8",
        "type": "function",
        "z": "10e38d15.571223",
        "name": "Parse Buttons",
        "func": "if (msg.payload === \"on\") {\n    msg.payload = '{\"code1\": \"FFE01F\"}';\n} else if (msg.payload === \"off\") {\n    msg.payload = '{\"code1\": \"FF609F\"}';\n} else if (msg.payload === \"up\") {\n    msg.payload = '{\"code1\": \"FFA05F\"}';\n} else if (msg.payload === \"dn\") {\n    msg.payload = '{\"code1\": \"FF20DF\"}';\n} else if (msg.payload === \"red\") {\n    msg.payload = '{\"code1\": \"FF906F\"}';\n} else if (msg.payload === \"green\") {\n    msg.payload = '{\"code1\": \"FF10EF\"}';\n} else if (msg.payload === \"blue\") {\n    msg.payload = '{\"code1\": \"FF50AF\"}';\n} else if (msg.payload === \"white\") {\n    msg.payload = '{\"code1\": \"FFD02F\"}';\n} else if (msg.payload === \"orange\") {\n    msg.payload = '{\"code1\": \"FFB04F\"}';\n} else if (msg.payload === \"turquoise\") {\n    msg.payload = '{\"code1\": \"FF30CF\"}';\n} else if (msg.payload === \"navy\") {\n    msg.payload = '{\"code1\": \"FF708F\"}';\n} else if (msg.payload === \"brown\") {\n    msg.payload = '{\"code1\": \"FFA857\"}';\n} else if (msg.payload === \"teal\") {\n    msg.payload = '{\"code1\": \"FF28D7\"}';\n} else if (msg.payload === \"purpleDark\") {\n    msg.payload = '{\"code1\": \"FF6897\"}';\n} else if (msg.payload === \"orangeLight\") {\n    msg.payload = '{\"code1\": \"FF9867\"}';\n} else if (msg.payload === \"blueLight\") {\n    msg.payload = '{\"code1\": \"FF18E7\"}';\n} else if (msg.payload === \"pinkDark\") {\n    msg.payload = '{\"code1\": \"FF58A7\"}';\n} else if (msg.payload === \"yellow\") {\n    msg.payload = '{\"code1\": \"FF8877\"}';\n} else if (msg.payload === \"blueBaby\") {\n    msg.payload = '{\"code1\": \"FF08F7\"}';\n} else if (msg.payload === \"pink\") {\n    msg.payload = '{\"code1\": \"FF48B7\"}';\n} else if (msg.payload === \"flash\") {\n    msg.payload = '{\"code1\": \"FFF00F\"}';\n} else if (msg.payload === \"strobe\") {\n    msg.payload = '{\"code1\": \"FFE817\"}';\n} else if (msg.payload === \"fade\") {\n    msg.payload = '{\"code1\": \"FFD827\"}';\n} else if (msg.payload === \"smooth\") {\n    msg.payload = '{\"code1\": \"FFC837\"}';\n} else {msg.payload = '{\"message\": \"Unknown Code\"}'}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 1700,
        "wires": [
            [
                "78bb4839.fc9fd8"
            ]
        ]
    },
    {
        "id": "78bb4839.fc9fd8",
        "type": "mqtt out",
        "z": "10e38d15.571223",
        "name": "LED Strip Code",
        "topic": "r1/nec/code",
        "qos": "0",
        "retain": "",
        "broker": "afdfbe80.4e29f",
        "x": 1040,
        "y": 1700,
        "wires": []
    },
    {
        "id": "930d88ea.d0fc58",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "On",
        "group": "f7be2171.76409",
        "order": 4,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "On",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "on",
        "payloadType": "str",
        "topic": "",
        "x": 370,
        "y": 1280,
        "wires": [
            [
                "5ea6c907.9dd2d8"
            ]
        ]
    },
    {
        "id": "358b05b8.b49daa",
        "type": "comment",
        "z": "10e38d15.571223",
        "name": "LED Strip",
        "info": "",
        "x": 380,
        "y": 1180,
        "wires": []
    },
    {
        "id": "a32dbbf5.c378f8",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Off",
        "group": "f7be2171.76409",
        "order": 3,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "Off",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "off",
        "payloadType": "str",
        "topic": "",
        "x": 370,
        "y": 1320,
        "wires": [
            [
                "5ea6c907.9dd2d8"
            ]
        ]
    },
    {
        "id": "c8a8c529.2b3578",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Intenisty Up",
        "group": "f7be2171.76409",
        "order": 1,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "keyboard_arrow_up",
        "payload": "up",
        "payloadType": "str",
        "topic": "",
        "x": 390,
        "y": 1360,
        "wires": [
            [
                "5ea6c907.9dd2d8"
            ]
        ]
    },
    {
        "id": "a3af9907.e48d88",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Intensity Down",
        "group": "f7be2171.76409",
        "order": 2,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "keyboard_arrow_down",
        "payload": "dn",
        "payloadType": "str",
        "topic": "",
        "x": 400,
        "y": 1400,
        "wires": [
            [
                "5ea6c907.9dd2d8"
            ]
        ]
    },
    {
        "id": "ea94e468.49f108",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Red",
        "group": "f7be2171.76409",
        "order": 5,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "#ff0000",
        "icon": "",
        "payload": "red",
        "payloadType": "str",
        "topic": "",
        "x": 368.01953125,
        "y": 1441.00390625,
        "wires": [
            [
                "5ea6c907.9dd2d8"
            ]
        ]
    },
    {
        "id": "b22a7b17.ec01b8",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Green",
        "group": "f7be2171.76409",
        "order": 6,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "#00ff00",
        "icon": "",
        "payload": "green",
        "payloadType": "str",
        "topic": "",
        "x": 370,
        "y": 1480,
        "wires": [
            [
                "5ea6c907.9dd2d8"
            ]
        ]
    },
    {
        "id": "6d17b9b5.be3ba8",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Blue",
        "group": "f7be2171.76409",
        "order": 7,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "#0000ff",
        "icon": "",
        "payload": "blue",
        "payloadType": "str",
        "topic": "",
        "x": 370,
        "y": 1520,
        "wires": [
            [
                "5ea6c907.9dd2d8"
            ]
        ]
    },
    {
        "id": "8f584417.9684f8",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Orange",
        "group": "f7be2171.76409",
        "order": 9,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "#ffa500",
        "icon": "",
        "payload": "orange",
        "payloadType": "str",
        "topic": "",
        "x": 380,
        "y": 1600,
        "wires": [
            [
                "5ea6c907.9dd2d8"
            ]
        ]
    },
    {
        "id": "faf193cc.28764",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Turquoise",
        "group": "f7be2171.76409",
        "order": 10,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "#7fffd4",
        "icon": "",
        "payload": "turquoise",
        "payloadType": "str",
        "topic": "",
        "x": 380,
        "y": 1640,
        "wires": [
            [
                "5ea6c907.9dd2d8"
            ]
        ]
    },
    {
        "id": "c905ed49.eaeab",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Navy",
        "group": "f7be2171.76409",
        "order": 11,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "#003366",
        "icon": "",
        "payload": "navy",
        "payloadType": "str",
        "topic": "",
        "x": 370,
        "y": 1680,
        "wires": [
            [
                "5ea6c907.9dd2d8"
            ]
        ]
    },
    {
        "id": "65b2ddb4.546c64",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Brown",
        "group": "f7be2171.76409",
        "order": 13,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "#8B0000",
        "icon": "",
        "payload": "brown",
        "payloadType": "str",
        "topic": "",
        "x": 370,
        "y": 1720,
        "wires": [
            [
                "5ea6c907.9dd2d8"
            ]
        ]
    },
    {
        "id": "3a757945.2866a6",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Teal",
        "group": "f7be2171.76409",
        "order": 14,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "#20b2aa",
        "icon": "",
        "payload": "teal",
        "payloadType": "str",
        "topic": "",
        "x": 370,
        "y": 1760,
        "wires": [
            [
                "5ea6c907.9dd2d8"
            ]
        ]
    },
    {
        "id": "e233d5df.a8aad8",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Purple Dark",
        "group": "f7be2171.76409",
        "order": 15,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "#794044",
        "icon": "",
        "payload": "purpleDark",
        "payloadType": "str",
        "topic": "",
        "x": 390,
        "y": 1800,
        "wires": [
            [
                "5ea6c907.9dd2d8"
            ]
        ]
    },
    {
        "id": "e11d326d.0be99",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Orange Light",
        "group": "f7be2171.76409",
        "order": 17,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "#daa520",
        "icon": "",
        "payload": "orangeLight",
        "payloadType": "str",
        "topic": "",
        "x": 390,
        "y": 1840,
        "wires": [
            [
                "5ea6c907.9dd2d8"
            ]
        ]
    },
    {
        "id": "a54f093c.92acf8",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Blue Light",
        "group": "f7be2171.76409",
        "order": 18,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "#00ced1",
        "icon": "",
        "payload": "blueLight",
        "payloadType": "str",
        "topic": "",
        "x": 380,
        "y": 1880,
        "wires": [
            [
                "5ea6c907.9dd2d8"
            ]
        ]
    },
    {
        "id": "67a77d3f.c37fc4",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Pink",
        "group": "f7be2171.76409",
        "order": 19,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "#ffb6c1",
        "icon": "",
        "payload": "pink",
        "payloadType": "str",
        "topic": "",
        "x": 370,
        "y": 1920,
        "wires": [
            [
                "5ea6c907.9dd2d8"
            ]
        ]
    },
    {
        "id": "63ed2141.9df83",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Yellow",
        "group": "f7be2171.76409",
        "order": 21,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "#ffff00",
        "icon": "",
        "payload": "yellow",
        "payloadType": "str",
        "topic": "",
        "x": 370,
        "y": 1960,
        "wires": [
            [
                "5ea6c907.9dd2d8"
            ]
        ]
    },
    {
        "id": "5368ba70.0c2a14",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Blue Baby",
        "group": "f7be2171.76409",
        "order": 22,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "#0099cc",
        "icon": "",
        "payload": "blueBaby",
        "payloadType": "str",
        "topic": "",
        "x": 390,
        "y": 2000,
        "wires": [
            [
                "5ea6c907.9dd2d8"
            ]
        ]
    },
    {
        "id": "bc74cd26.83943",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Pink Light",
        "group": "f7be2171.76409",
        "order": 23,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "#c39797",
        "icon": "",
        "payload": "pinkLight",
        "payloadType": "str",
        "topic": "",
        "x": 380,
        "y": 2040,
        "wires": [
            [
                "5ea6c907.9dd2d8"
            ]
        ]
    },
    {
        "id": "643a53fc.b817dc",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "White",
        "group": "f7be2171.76409",
        "order": 8,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "#ffffff",
        "icon": "",
        "payload": "white",
        "payloadType": "str",
        "topic": "",
        "x": 370,
        "y": 1560,
        "wires": [
            [
                "5ea6c907.9dd2d8"
            ]
        ]
    },
    {
        "id": "a730e3f9.42e7c",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Flash",
        "group": "f7be2171.76409",
        "order": 12,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "Flash",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "flash",
        "payloadType": "str",
        "topic": "",
        "x": 370,
        "y": 2080,
        "wires": [
            [
                "5ea6c907.9dd2d8"
            ]
        ]
    },
    {
        "id": "e27776bd.d40608",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Strobe",
        "group": "f7be2171.76409",
        "order": 16,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "Strobe",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "strobe",
        "payloadType": "str",
        "topic": "",
        "x": 370,
        "y": 2120,
        "wires": [
            [
                "5ea6c907.9dd2d8"
            ]
        ]
    },
    {
        "id": "ee996b92.cb7e68",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Fade",
        "group": "f7be2171.76409",
        "order": 20,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "Fade",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "fade",
        "payloadType": "str",
        "topic": "",
        "x": 370,
        "y": 2160,
        "wires": [
            [
                "5ea6c907.9dd2d8"
            ]
        ]
    },
    {
        "id": "4ad1a27d.06e39c",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Smooth",
        "group": "f7be2171.76409",
        "order": 24,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "Smooth",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "smooth",
        "payloadType": "str",
        "topic": "",
        "x": 380,
        "y": 2200,
        "wires": [
            [
                "5ea6c907.9dd2d8"
            ]
        ]
    },
    {
        "id": "b1569889.0dacb8",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "",
        "group": "8a21836f.059d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Fox Movies",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"code1\": \"b90\",\"code2\": \"810\",\"code3\":\"10\"}",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 1220,
        "wires": [
            [
                "174d1d55.fd0313"
            ]
        ]
    },
    {
        "id": "5e0137eb.fd2fe8",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "",
        "group": "8a21836f.059d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Pink Movies",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"code1\": \"b90\",\"code2\": \"810\",\"code3\":\"210\"}",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 1260,
        "wires": [
            [
                "174d1d55.fd0313"
            ]
        ]
    },
    {
        "id": "64502be.7a3ccd4",
        "type": "mqtt out",
        "z": "10e38d15.571223",
        "name": "R2 Pub",
        "topic": "r1/r2",
        "qos": "",
        "retain": "true",
        "broker": "afdfbe80.4e29f",
        "x": 1360,
        "y": 760,
        "wires": []
    },
    {
        "id": "2aaec718.b40d88",
        "type": "ui_switch",
        "z": "10e38d15.571223",
        "name": "",
        "label": "R2",
        "group": "4b297045.1792d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 1210,
        "y": 760,
        "wires": [
            [
                "64502be.7a3ccd4"
            ]
        ]
    },
    {
        "id": "4d27aa77.5ecc94",
        "type": "mqtt out",
        "z": "10e38d15.571223",
        "name": "R1 Pub",
        "topic": "r1/r1",
        "qos": "",
        "retain": "false",
        "broker": "afdfbe80.4e29f",
        "x": 1360,
        "y": 700,
        "wires": []
    },
    {
        "id": "5ac62894.dabe88",
        "type": "ui_switch",
        "z": "10e38d15.571223",
        "name": "",
        "label": "R1",
        "group": "4b297045.1792d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 1210,
        "y": 700,
        "wires": [
            [
                "4d27aa77.5ecc94"
            ]
        ]
    },
    {
        "id": "3ba0746e.aab84c",
        "type": "mqtt out",
        "z": "10e38d15.571223",
        "name": "R3 Pub",
        "topic": "r1/r3",
        "qos": "",
        "retain": "true",
        "broker": "afdfbe80.4e29f",
        "x": 1360,
        "y": 820,
        "wires": []
    },
    {
        "id": "eb87ad02.7c507",
        "type": "ui_switch",
        "z": "10e38d15.571223",
        "name": "",
        "label": "R3",
        "group": "4b297045.1792d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 1210,
        "y": 820,
        "wires": [
            [
                "3ba0746e.aab84c"
            ]
        ]
    },
    {
        "id": "2f019909.c118f6",
        "type": "mqtt out",
        "z": "10e38d15.571223",
        "name": "R4 Pub",
        "topic": "r1/r4",
        "qos": "",
        "retain": "true",
        "broker": "afdfbe80.4e29f",
        "x": 1360,
        "y": 880,
        "wires": []
    },
    {
        "id": "fe9d7793.a38dc8",
        "type": "ui_switch",
        "z": "10e38d15.571223",
        "name": "",
        "label": "R4",
        "group": "4b297045.1792d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 1210,
        "y": 880,
        "wires": [
            [
                "2f019909.c118f6"
            ]
        ]
    },
    {
        "id": "3d223b20.9504c4",
        "type": "mqtt out",
        "z": "10e38d15.571223",
        "name": "R5 Pub",
        "topic": "r1/r5",
        "qos": "",
        "retain": "true",
        "broker": "afdfbe80.4e29f",
        "x": 1360,
        "y": 940,
        "wires": []
    },
    {
        "id": "e4fb3db4.1512e",
        "type": "ui_switch",
        "z": "10e38d15.571223",
        "name": "",
        "label": "R5",
        "group": "4b297045.1792d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 1210,
        "y": 940,
        "wires": [
            [
                "3d223b20.9504c4"
            ]
        ]
    },
    {
        "id": "44819f38.18698",
        "type": "mqtt out",
        "z": "10e38d15.571223",
        "name": "R6 Pub",
        "topic": "r1/r6",
        "qos": "",
        "retain": "true",
        "broker": "afdfbe80.4e29f",
        "x": 1360,
        "y": 1000,
        "wires": []
    },
    {
        "id": "533a161e.6367d8",
        "type": "ui_switch",
        "z": "10e38d15.571223",
        "name": "",
        "label": "R6",
        "group": "4b297045.1792d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 1210,
        "y": 1000,
        "wires": [
            [
                "44819f38.18698"
            ]
        ]
    },
    {
        "id": "aa33b119.d2298",
        "type": "mqtt out",
        "z": "10e38d15.571223",
        "name": "R7 Pub",
        "topic": "r1/r7",
        "qos": "",
        "retain": "true",
        "broker": "afdfbe80.4e29f",
        "x": 1360,
        "y": 1060,
        "wires": []
    },
    {
        "id": "2a8a9ee5.fa2912",
        "type": "ui_switch",
        "z": "10e38d15.571223",
        "name": "",
        "label": "R7",
        "group": "4b297045.1792d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 1210,
        "y": 1060,
        "wires": [
            [
                "aa33b119.d2298"
            ]
        ]
    },
    {
        "id": "85d36618.a4a8d8",
        "type": "mqtt out",
        "z": "10e38d15.571223",
        "name": "R8 Pub",
        "topic": "r1/r8",
        "qos": "",
        "retain": "true",
        "broker": "afdfbe80.4e29f",
        "x": 1360,
        "y": 1120,
        "wires": []
    },
    {
        "id": "f61de6f7.e29b28",
        "type": "ui_switch",
        "z": "10e38d15.571223",
        "name": "",
        "label": "R8",
        "group": "4b297045.1792d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 1210,
        "y": 1120,
        "wires": [
            [
                "85d36618.a4a8d8"
            ]
        ]
    },
    {
        "id": "6a865540.b0f4ac",
        "type": "sqlite",
        "z": "10e38d15.571223",
        "mydb": "1bc1009c.1e7f7f",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "SQLITE",
        "x": 1330,
        "y": 420,
        "wires": [
            [
                "9452e291.8cb3b"
            ]
        ]
    },
    {
        "id": "38df533.1c05dac",
        "type": "sqlite",
        "z": "10e38d15.571223",
        "mydb": "1bc1009c.1e7f7f",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "SQLITE",
        "x": 1060,
        "y": 40,
        "wires": [
            [
                "1b8d61be.93a41e"
            ]
        ]
    },
    {
        "id": "1dfe52fa.a3ae9d",
        "type": "debug",
        "z": "10e38d15.571223",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 920,
        "y": 500,
        "wires": []
    },
    {
        "id": "2b5fe56b.82c33a",
        "type": "function",
        "z": "10e38d15.571223",
        "name": "Get Flow Query",
        "func": "var query = flow.get('query');\nvar m = {\n    topic: query\n};\nreturn m;",
        "outputs": 1,
        "noerr": 0,
        "x": 1050,
        "y": 440,
        "wires": [
            [
                "6a865540.b0f4ac"
            ]
        ]
    },
    {
        "id": "b2b238cb.c15998",
        "type": "mqtt in",
        "z": "10e38d15.571223",
        "name": "IP",
        "topic": "home/br/nb/ip",
        "qos": "2",
        "broker": "afdfbe80.4e29f",
        "x": 80,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "240d39cd.3eb636",
        "type": "mqtt in",
        "z": "10e38d15.571223",
        "name": "door",
        "topic": "home/br/nb/deur",
        "qos": "2",
        "broker": "afdfbe80.4e29f",
        "x": 80,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "608bdd60.242dd4",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Power",
        "group": "a63805e8.eea5c8",
        "order": 1,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "power_settings_new",
        "payload": "power",
        "payloadType": "str",
        "topic": "",
        "x": 1630,
        "y": 760,
        "wires": [
            [
                "fa820dac.57ebc"
            ]
        ]
    },
    {
        "id": "fa820dac.57ebc",
        "type": "function",
        "z": "10e38d15.571223",
        "name": "Parse Buttons",
        "func": "if (msg.payload === \"power\") {\n    msg.payload = '{\"code1\": \"100bcbd\"}';\n} else if (msg.payload === \"vup\") {\n    msg.payload = '{\"code1\": \"1000405\"}';\n} else if (msg.payload === \"vdn\") {\n    msg.payload = '{\"code1\": \"1008485\"}';\n} else if (msg.payload === \"cup\") {\n    msg.payload = '{\"code1\": \"1002C2D\"}';\n} else if (msg.payload === \"cdn\") {\n    msg.payload = '{\"code1\": \"100ACAD\"}';\n} else if (msg.payload === \"1\") {\n    msg.payload = '{\"code1\": \"10\"}';\n} else if (msg.payload === \"2\") {\n    msg.payload = '{\"code1\": \"810\"}';\n} else if (msg.payload === \"3\") {\n    msg.payload = '{\"code1\": \"410\"}';\n} else if (msg.payload === \"4\") {\n    msg.payload = '{\"code1\": \"C10\"}';\n} else if (msg.payload === \"5\") {\n    msg.payload = '{\"code1\": \"210\"}';\n} else if (msg.payload === \"6\") {\n    msg.payload = '{\"code1\": \"A10\"}';\n} else if (msg.payload === \"7\") {\n    msg.payload = '{\"code1\": \"610\"}';\n} else if (msg.payload === \"8\") {\n    msg.payload = '{\"code1\": \"E10\"}';\n} else if (msg.payload === \"9\") {\n    msg.payload = '{\"code1\": \"110\"}';\n} else if (msg.payload === \"0\") {\n    msg.payload = '{\"code1\": \"910\"}';\n} else if (msg.payload === \"mute\") {\n    msg.payload = '{\"code1\": \"1004C4D\"}';\n} else if (msg.payload === \"__\") {\n    msg.payload = '{\"code1\": \"b90\"}';\n} else {msg.payload = '{\"message\": \"Unknown Code\"}'}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1860,
        "y": 780,
        "wires": [
            [
                "6f9a3bb1.273aa4"
            ]
        ]
    },
    {
        "id": "6f9a3bb1.273aa4",
        "type": "mqtt out",
        "z": "10e38d15.571223",
        "name": "TV Code",
        "topic": "r1/panasonic/code",
        "qos": "0",
        "retain": "",
        "broker": "afdfbe80.4e29f",
        "x": 2060,
        "y": 780,
        "wires": []
    },
    {
        "id": "646fe5e0.bb978c",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Channel Up",
        "group": "a63805e8.eea5c8",
        "order": 4,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "keyboard_arrow_up",
        "payload": "cup",
        "payloadType": "str",
        "topic": "",
        "x": 1650,
        "y": 800,
        "wires": [
            [
                "fa820dac.57ebc"
            ]
        ]
    },
    {
        "id": "b46e267f.54b278",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Volume Up",
        "group": "a63805e8.eea5c8",
        "order": 6,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "volume_up",
        "payload": "vup",
        "payloadType": "str",
        "topic": "",
        "x": 1650,
        "y": 840,
        "wires": [
            [
                "fa820dac.57ebc"
            ]
        ]
    },
    {
        "id": "c5a262ea.eaac8",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Channel Down",
        "group": "a63805e8.eea5c8",
        "order": 7,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "keyboard_arrow_down",
        "payload": "cdn",
        "payloadType": "str",
        "topic": "",
        "x": 1660,
        "y": 880,
        "wires": [
            [
                "fa820dac.57ebc"
            ]
        ]
    },
    {
        "id": "4465d271.c771ec",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Volume Down",
        "group": "a63805e8.eea5c8",
        "order": 9,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "volume_down",
        "payload": "vdn",
        "payloadType": "str",
        "topic": "",
        "x": 1660,
        "y": 920,
        "wires": [
            [
                "fa820dac.57ebc"
            ]
        ]
    },
    {
        "id": "deceb8c4.d059f8",
        "type": "ui_button",
        "z": "10e38d15.571223",
        "name": "Mute",
        "group": "a63805e8.eea5c8",
        "order": 3,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "volume_mute",
        "payload": "mute",
        "payloadType": "str",
        "topic": "/r1/tv/code",
        "x": 1630,
        "y": 960,
        "wires": [
            [
                "fa820dac.57ebc"
            ]
        ]
    },
    {
        "id": "1b8d61be.93a41e",
        "type": "sqlite",
        "z": "10e38d15.571223",
        "mydb": "1bc1009c.1e7f7f",
        "sqlquery": "fixed",
        "sql": "SELECT * FROM temperature_record ORDER BY rec_num DESC LIMIT 1;",
        "name": "Find Newest Entry",
        "x": 1340,
        "y": 100,
        "wires": [
            [
                "ff63a640.0576b8"
            ]
        ]
    },
    {
        "id": "ff63a640.0576b8",
        "type": "function",
        "z": "10e38d15.571223",
        "name": "Set latest Entry",
        "func": "flow.set('latestEntry', msg.payload);\nreturn msg.payload;",
        "outputs": 1,
        "noerr": 0,
        "x": 1480,
        "y": 220,
        "wires": [
            [
                "34f8ad5a.fb7742"
            ]
        ]
    },
    {
        "id": "34f8ad5a.fb7742",
        "type": "http request",
        "z": "10e38d15.571223",
        "name": "openweathermap",
        "method": "GET",
        "ret": "obj",
        "url": "http://api.openweathermap.org/data/2.5/weather?q=Subotica,rs&APPID=b01a4b1f92b65b379842d0eb025476db&units=metric",
        "tls": "",
        "x": 1710,
        "y": 100,
        "wires": [
            [
                "87a2d896.8a89c8",
                "a2be030b.9097c"
            ]
        ]
    },
    {
        "id": "87a2d896.8a89c8",
        "type": "function",
        "z": "10e38d15.571223",
        "name": "Format OpenWeatherMap Query",
        "func": "var latestEntry = flow.get('latestEntry');\nvar response = msg.payload;\nnode.log(latestEntry.toString());\nnode.log(response.toString());\nvar m = {\n topic : \"UPDATE temperature_record SET temperature_outside='\"+response.main.temp+\"', humidity_outside='\"+response.main.humidity+\"' WHERE rec_num = \"+latestEntry[0][0].rec_num+\";\"\n};\nreturn m;",
        "outputs": 1,
        "noerr": 0,
        "x": 2040,
        "y": 80,
        "wires": [
            [
                "d6824d0f.296b1"
            ]
        ]
    },
    {
        "id": "d6824d0f.296b1",
        "type": "sqlite",
        "z": "10e38d15.571223",
        "mydb": "1bc1009c.1e7f7f",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "SQLITE",
        "x": 2440,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "26bc6225.cd767e",
        "type": "ui_gauge",
        "z": "10e38d15.571223",
        "name": "Humidity Outside",
        "group": "48330498.8d0d8c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity Outside",
        "label": "%",
        "format": "{{msg.payload.humidity}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 2430,
        "y": 80,
        "wires": []
    },
    {
        "id": "cf2d65c7.3b69a8",
        "type": "ui_gauge",
        "z": "10e38d15.571223",
        "name": "Temperature Outside",
        "group": "21db450c.66332a",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature Outside",
        "label": "C",
        "format": "{{msg.payload.temperature}}",
        "min": "-25",
        "max": "43",
        "colors": [
            "#005aff",
            "#57ee7a",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 2440,
        "y": 40,
        "wires": []
    },
    {
        "id": "b3c62ca.d36ced",
        "type": "http request",
        "z": "10e38d15.571223",
        "name": "Yahoo",
        "method": "GET",
        "ret": "obj",
        "url": "http://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20weather.forecast%20where%20woeid%3D536981%20and%20u%3D%20'c'&format=json&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeysquery.yahooapis.com/v1/public/yql?q=select%20*%20from%20weather.forecast%20where%20woeid%3D536981%20and%20u%3D%20'c'&format=json&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys",
        "tls": "",
        "x": 1670,
        "y": 220,
        "wires": [
            [
                "75adc974.ab55b8",
                "c3aaf14f.ae999"
            ]
        ]
    },
    {
        "id": "75adc974.ab55b8",
        "type": "function",
        "z": "10e38d15.571223",
        "name": "Format Query Yahoo",
        "func": "var latestEntry = flow.get('latestEntry');\nvar response = msg.payload;\nvar m = {\n topic : \"UPDATE temperature_record SET temperature_outside='\"+response.query.results.channel.item.condition.temp+\"', humidity_outside='\"+response.query.results.channel.atmosphere.humidity+\"' WHERE rec_num = \"+latestEntry[0][0].rec_num+\";\"\n};\nreturn m;",
        "outputs": 1,
        "noerr": 0,
        "x": 1960,
        "y": 260,
        "wires": [
            [
                "d6824d0f.296b1"
            ]
        ]
    },
    {
        "id": "f6ed66cd.16dcb8",
        "type": "http request",
        "z": "10e38d15.571223",
        "name": "Dark Sky Https",
        "method": "GET",
        "ret": "obj",
        "url": "https://api.darksky.net/forecast/YOURAPIKEY/46.10873,19.66449?units=auto",
        "tls": "",
        "x": 1700,
        "y": 360,
        "wires": [
            [
                "f63368e6.b29ca8",
                "4ba8df7e.d8e22"
            ]
        ]
    },
    {
        "id": "f63368e6.b29ca8",
        "type": "function",
        "z": "10e38d15.571223",
        "name": "Format DarkSky Query",
        "func": "var latestEntry = flow.get('latestEntry');\nvar response = msg.payload;\nnode.log(latestEntry.toString());\nnode.log(response.toString());\nvar m = {\n topic : \"UPDATE temperature_record SET temperature_outside='\"+response.currently.temperature+\"', humidity_outside='\"+response.currently.humidity*100+\"' WHERE rec_num = \"+latestEntry[0][0].rec_num+\";\"\n};\nreturn m;",
        "outputs": 1,
        "noerr": 0,
        "x": 1960,
        "y": 400,
        "wires": [
            [
                "d6824d0f.296b1"
            ]
        ]
    },
    {
        "id": "a2be030b.9097c",
        "type": "function",
        "z": "10e38d15.571223",
        "name": "Format OpenWeatherMap",
        "func": "var newMsg = {\n    payload: {\n        temperature: msg.payload.main.temp,\n        humidity: msg.payload.main.humidity\n    }\n};\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2010,
        "y": 40,
        "wires": [
            [
                "cf2d65c7.3b69a8",
                "26bc6225.cd767e"
            ]
        ]
    },
    {
        "id": "c3aaf14f.ae999",
        "type": "function",
        "z": "10e38d15.571223",
        "name": "Format Yahoo",
        "func": "var newMsg = {\n    payload: {\n        temperature: msg.payload.query.results.channel.item.condition.temp,\n        humidity: msg.payload.query.results.channel.atmosphere.humidity\n    }\n};\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1940,
        "y": 220,
        "wires": [
            [
                "cf2d65c7.3b69a8",
                "26bc6225.cd767e"
            ]
        ]
    },
    {
        "id": "4ba8df7e.d8e22",
        "type": "function",
        "z": "10e38d15.571223",
        "name": "Format OpenWeatherMap",
        "func": "var newMsg = {\n    payload: {\n        temperature: msg.payload.currently.temperature,\n        humidity: msg.payload.currently.humidity*100\n    }\n};\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1970,
        "y": 340,
        "wires": [
            [
                "cf2d65c7.3b69a8",
                "26bc6225.cd767e"
            ]
        ]
    },
    {
        "id": "76d2bac1.91bed4",
        "type": "mqtt-broker",
        "z": "",
        "name": "locahost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "node1",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "21db450c.66332a",
        "type": "ui_group",
        "z": "",
        "name": "Temperature",
        "tab": "ef1b0cc8.9b5e8",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "48330498.8d0d8c",
        "type": "ui_group",
        "z": "",
        "name": "Humidity",
        "tab": "ef1b0cc8.9b5e8",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "afdfbe80.4e29f",
        "type": "mqtt-broker",
        "z": "",
        "name": "locahost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "note1",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "aefc6f04.70404",
        "type": "ui_group",
        "z": "",
        "name": "Sony",
        "tab": "349c4b96.96e754",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f953612f.e5739",
        "type": "ui_group",
        "z": "",
        "name": "Chart",
        "tab": "ef1b0cc8.9b5e8",
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ba00bb22.6364e8",
        "type": "ui_group",
        "z": "",
        "name": "AV",
        "tab": "349c4b96.96e754",
        "order": 4,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "8a21836f.059d",
        "type": "ui_group",
        "z": "",
        "name": "Channel",
        "tab": "349c4b96.96e754",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f7be2171.76409",
        "type": "ui_group",
        "z": "",
        "name": "LED",
        "tab": "349c4b96.96e754",
        "order": 5,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "4b297045.1792d",
        "type": "ui_group",
        "z": "",
        "name": "Relays",
        "tab": "7fb52849.f59138",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1bc1009c.1e7f7f",
        "type": "sqlitedb",
        "z": "",
        "db": "/home/pi/dbs/iot.db"
    },
    {
        "id": "a63805e8.eea5c8",
        "type": "ui_group",
        "z": "",
        "name": "Panasonic",
        "tab": "349c4b96.96e754",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ef1b0cc8.9b5e8",
        "type": "ui_tab",
        "z": "",
        "name": "Monitoring",
        "icon": "insert_chart",
        "order": 1
    },
    {
        "id": "349c4b96.96e754",
        "type": "ui_tab",
        "z": "",
        "name": "Control",
        "icon": "games",
        "order": 2
    },
    {
        "id": "7fb52849.f59138",
        "type": "ui_tab",
        "z": "",
        "name": "Relays",
        "icon": "dashboard"
    }
]
